<a href="https://colab.research.google.com/github/Abhinavthirumalaiswamy/PhonePe-Transaction-insight/blob/main/How_to_create_phonepe_pulse_DataFrame(phonepe_mini_project_1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/PhonePe/pulse.git

Cloning into 'pulse'...
remote: Enumerating objects: 17904, done.
remote: Counting objects: 100% (49/49), done.
remote: Compressing objects: 100% (32/32), done.
remote: Total 17904 (delta 19), reused 17 (delta 17), pack-reused 17855 (from 2)
Receiving objects: 100% (17904/17904), 26.13 MiB | 8.77 MiB/s, done.
Resolving deltas: 100% (8723/8723), done.
Updating files: 100% (9029/9029), done.

In [ ]:
import os
path="/content/pulse/data/aggregated/transaction/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list

['odisha',
 'puducherry',
 'arunachal-pradesh',
 'goa',
 'tamil-nadu',
 'andhra-pradesh',
 'chandigarh',
 'himachal-pradesh',
 'assam',
 'lakshadweep',
 'jammu-&-kashmir',
 'maharashtra',
 'ladakh',
 'karnataka',
 'kerala',
 'delhi',
 'meghalaya',
 'sikkim',
 'gujarat',
 'tripura',
 'chhattisgarh',
 'west-bengal',
 'jharkhand',
 'uttar-pradesh',
 'madhya-pradesh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'nagaland',
 'manipur',
 'bihar',
 'uttarakhand',
 'andaman-&-nicobar-islands',
 'mizoram',
 'telangana',
 'rajasthan',
 'punjab',
 'haryana']

In [ ]:
#Once created the clone of GIT-HUB repository then,
#Required libraries for the program

# Aggreagated transaction
import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path="/content/pulse/data/aggregated/transaction/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm={'State':[], 'Year':[],'Quater':[],'Transacion_type':[], 'Transacion_count':[], 'Transacion_amount':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm['Transacion_type'].append(Name)
              clm['Transacion_count'].append(count)
              clm['Transacion_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Agg_Trans=pd.DataFrame(clm)

In [ ]:
Agg_Trans

,State,Year,Quater,Transacion_type,Transacion_count,Transacion_amount
0,odisha,2024,4,Merchant payments,666763461,2.869241e+11
1,odisha,2024,4,Peer-to-peer payments,418408615,9.788934e+11
2,odisha,2024,4,Recharge & bill payments,56768341,3.892522e+10
3,odisha,2024,4,Financial Services,971394,5.367602e+08
4,odisha,2024,4,Others,185757,1.780627e+08
...,...,...,...,...,...,...
5029,haryana,2021,1,Merchant payments,39363588,2.338910e+10
5030,haryana,2021,1,Peer-to-peer payments,36764622,1.359706e+11
5031,haryana,2021,1,Recharge & bill payments,13680353,9.260347e+09
5032,haryana,2021,1,Financial Services,79784,9.967281e+07
5033,haryana,2021,1,Others,364437,2.185444e+08

In [ ]:
Agg_Trans.to_csv("Aggregated transaction.csv",index = False)

In [ ]:
# Aggreagte user

path_user = "/content/pulse/data/aggregated/user/country/india/state/"
user_list = os.listdir(path_user)

clm_user = {'State': [], 'Year': [], 'Quarter': [], 'Brand': [], 'User_Count': [], 'Percentage': []}

for state in user_list:
    p_i = path_user + state + "/"
    for year in os.listdir(p_i):
        p_j = p_i + year + "/"
        for file in os.listdir(p_j):
            with open(p_j + file, 'r') as Data:
                D = json.load(Data)
                # Check if usersByDevice data exists (older files might vary)
                if D['data']['usersByDevice'] is not None:
                    for z in D['data']['usersByDevice']:
                        clm_user['Brand'].append(z['brand'])
                        clm_user['User_Count'].append(z['count'])
                        clm_user['Percentage'].append(z['percentage'])
                        clm_user['State'].append(state)
                        clm_user['Year'].append(year)
                        clm_user['Quarter'].append(int(file.strip('.json')))

Agg_User = pd.DataFrame(clm_user)

In [ ]:

Agg_User

        State  Year  Quarter     Brand  User_Count  Percentage
0      odisha  2020        4    Xiaomi     2445630    0.284417
1      odisha  2020        4   Samsung     1510338    0.175646
2      odisha  2020        4      Vivo     1383491    0.160894
3      odisha  2020        4      Oppo     1143995    0.133042
4      odisha  2020        4    Realme      663117    0.077118
...       ...   ...      ...       ...         ...         ...
6727  haryana  2021        1  Motorola      169504    0.017247
6728  haryana  2021        1   OnePlus      165335    0.016823
6729  haryana  2021        1    Huawei      157570    0.016033
6730  haryana  2021        1    Lenovo       92713    0.009434
6731  haryana  2021        1    Others      743779    0.075680

[6732 rows x 6 columns]

In [ ]:
Agg_User.to_csv("Aggregated user.csv",index = False)

In [ ]:
# Aggregated Insurance
path_ins = "/content/pulse/data/aggregated/insurance/country/india/state/"
ins_list = os.listdir(path_ins)

clm_ins = {'State': [], 'Year': [], 'Quarter': [], 'Insurance_Type': [], 'Insurance_Count': [], 'Insurance_Amount': []}

for state in ins_list:
    p_i = path_ins + state + "/"
    for year in os.listdir(p_i):
        p_j = p_i + year + "/"
        for file in os.listdir(p_j):
            with open(p_j + file, 'r') as Data:
                D = json.load(Data)
                for z in D['data']['transactionData']:
                    clm_ins['Insurance_Type'].append(z['name'])
                    clm_ins['Insurance_Count'].append(z['paymentInstruments'][0]['count'])
                    clm_ins['Insurance_Amount'].append(z['paymentInstruments'][0]['amount'])
                    clm_ins['State'].append(state)
                    clm_ins['Year'].append(year)
                    clm_ins['Quarter'].append(int(file.strip('.json')))

Agg_Ins = pd.DataFrame(clm_ins)

In [ ]:
Agg_Ins

       State  Year  Quarter Insurance_Type  Insurance_Count  Insurance_Amount
0     odisha  2024        4      Insurance            33165        46973224.0
1     odisha  2024        2      Insurance            24579        36840474.0
2     odisha  2024        3      Insurance            26524        40608651.0
3     odisha  2024        1      Insurance            27977        40032495.0
4     odisha  2020        4      Insurance             7526         4208701.0
..       ...   ...      ...            ...              ...               ...
677  haryana  2022        1      Insurance            22783        32526943.0
678  haryana  2021        4      Insurance            19489        25885838.0
679  haryana  2021        2      Insurance            12516        11272453.0
680  haryana  2021        3      Insurance            14163        13215898.0
681  haryana  2021        1      Insurance            11038         7297880.0

[682 rows x 6 columns]

In [ ]:
Agg_Ins.to_csv("Aggregated Insurance.csv",index = False)

In [ ]:
# Map User

path_map_user = "/content/pulse/data/map/user/hover/country/india/state/"
map_user_list = os.listdir(path_map_user)

clm_map_user = {'State': [], 'Year': [], 'Quarter': [], 'District': [], 'Registered_Users': [], 'App_Opens': []}

for state in map_user_list:
    p_i = path_map_user + state + "/"
    for year in os.listdir(p_i):
        p_j = p_i + year + "/"
        for file in os.listdir(p_j):
            with open(p_j + file, 'r') as Data:
                D = json.load(Data)
                # Map user data is stored as a dictionary under 'hoverData'
                for district, info in D['data']['hoverData'].items():
                    clm_map_user['District'].append(district)
                    clm_map_user['Registered_Users'].append(info['registeredUsers'])
                    clm_map_user['App_Opens'].append(info['appOpens'])
                    clm_map_user['State'].append(state)
                    clm_map_user['Year'].append(year)
                    clm_map_user['Quarter'].append(int(file.strip('.json')))

Map_User = pd.DataFrame(clm_map_user)

In [ ]:
Map_User

,State,Year,Quarter,District,Registered_Users,App_Opens
0,odisha,2024,4,rayagada district,354580,33779111
1,odisha,2024,4,koraput district,467310,33704837
2,odisha,2024,4,malkangiri district,177843,15362657
3,odisha,2024,4,angul district,649449,29486521
4,odisha,2024,4,subarnapur district,198252,9919917
...,...,...,...,...,...,...
20603,haryana,2021,1,panipat district,423131,8104365
20604,haryana,2021,1,gurugram district,2262589,83093025
20605,haryana,2021,1,kaithal district,218191,3635272
20606,haryana,2021,1,kurukshetra district,260673,5020980
20607,haryana,2021,1,jhajjar district,337303,8526542

In [ ]:
Map_User.to_csv("Map_User.csv",index = False)

In [ ]:
# Map_map

path_map_tran = "/content/pulse/data/map/transaction/hover/country/india/state/"
map_tran_list = os.listdir(path_map_tran)

clm_map_tran = {'State': [], 'Year': [], 'Quarter': [], 'District': [], 'Transaction_Count': [], 'Transaction_Amount': []}

for i in map_tran_list:
    p_i = path_map_tran + i + "/"
    for j in os.listdir(p_i):
        p_j = p_i + j + "/"
        for k in os.listdir(p_j):
            with open(p_j + k, 'r') as Data:
                D = json.load(Data)
                for z in D['data']['hoverDataList']:
                    clm_map_tran['District'].append(z['name'])
                    clm_map_tran['Transaction_Count'].append(z['metric'][0]['count'])
                    clm_map_tran['Transaction_Amount'].append(z['metric'][0]['amount'])
                    clm_map_tran['State'].append(i)
                    clm_map_tran['Year'].append(j)
                    clm_map_tran['Quarter'].append(int(k.strip('.json')))

Map_Trans = pd.DataFrame(clm_map_tran)

In [ ]:
Map_Trans

,State,Year,Quarter,District,Transaction_Count,Transaction_Amount
0,odisha,2024,4,rayagada district,22077591,2.623113e+10
1,odisha,2024,4,koraput district,27508817,3.523228e+10
2,odisha,2024,4,malkangiri district,9493750,1.167430e+10
3,odisha,2024,4,angul district,41161308,4.996849e+10
4,odisha,2024,4,subarnapur district,9206886,1.155243e+10
...,...,...,...,...,...,...
20599,haryana,2021,1,panipat district,3288095,7.866865e+09
20600,haryana,2021,1,gurugram district,31719830,3.935028e+10
20601,haryana,2021,1,kaithal district,852261,2.586851e+09
20602,haryana,2021,1,kurukshetra district,2295153,5.110348e+09
20603,haryana,2021,1,jhajjar district,2301315,5.484919e+09

In [ ]:
Map_Trans.to_csv("Map_Trans.csv",index = False)

In [ ]:
# Map Insurance

path_map_ins = "/content/pulse/data/map/insurance/hover/country/india/state/"
map_ins_list = os.listdir(path_map_ins)

clm_map_ins = {'State': [], 'Year': [], 'Quarter': [], 'District': [], 'Insurance_Count': [], 'Insurance_Amount': []}

for state in map_ins_list:
    p_i = path_map_ins + state + "/"
    for year in os.listdir(p_i):
        p_j = p_i + year + "/"
        for file in os.listdir(p_j):
            with open(p_j + file, 'r') as Data:
                D = json.load(Data)
                # Map insurance data is a list under 'hoverDataList'
                for z in D['data']['hoverDataList']:
                    clm_map_ins['District'].append(z['name'])
                    clm_map_ins['Insurance_Count'].append(z['metric'][0]['count'])
                    clm_map_ins['Insurance_Amount'].append(z['metric'][0]['amount'])
                    clm_map_ins['State'].append(state)
                    clm_map_ins['Year'].append(year)
                    clm_map_ins['Quarter'].append(int(file.strip('.json')))

Map_Ins = pd.DataFrame(clm_map_ins)

In [ ]:
Map_Ins

,State,Year,Quarter,District,Insurance_Count,Insurance_Amount
0,odisha,2024,4,rayagada district,752,1010567.0
1,odisha,2024,4,koraput district,1015,1586861.0
2,odisha,2024,4,malkangiri district,308,328159.0
3,odisha,2024,4,angul district,2164,2865214.0
4,odisha,2024,4,subarnapur district,212,269088.0
...,...,...,...,...,...,...
13871,haryana,2021,1,panipat district,428,245026.0
13872,haryana,2021,1,gurugram district,3377,2003697.0
13873,haryana,2021,1,kaithal district,126,99001.0
13874,haryana,2021,1,kurukshetra district,206,112407.0
13875,haryana,2021,1,jhajjar district,317,272445.0

In [ ]:
Map_Ins.to_csv("Map_Ins.csv",index = False)

In [ ]:
# Top user

path_top_user = "/content/pulse/data/top/user/country/india/state/"
top_user_list = os.listdir(path_top_user)

clm_top_user = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [], 'Registered_User': []}

for i in top_user_list:
    p_i = path_top_user + i + "/"
    for j in os.listdir(p_i):
        p_j = p_i + j + "/"
        for k in os.listdir(p_j):
            with open(p_j + k, 'r') as Data:
                D = json.load(Data)
                for z in D['data']['pincodes']:
                    clm_top_user['Pincode'].append(z['name'])
                    clm_top_user['Registered_User'].append(z['registeredUsers'])
                    clm_top_user['State'].append(i)
                    clm_top_user['Year'].append(j)
                    clm_top_user['Quarter'].append(int(k.strip('.json')))

Top_User = pd.DataFrame(clm_top_user)

In [ ]:
Top_User

        State  Year  Quarter Pincode  Registered_User
0      odisha  2024        4  751002           207290
1      odisha  2024        4  751006           196916
2      odisha  2024        4  751024           166510
3      odisha  2024        4  768201           151222
4      odisha  2024        4  753001           146545
...       ...   ...      ...     ...              ...
9995  haryana  2021        1  122002           189395
9996  haryana  2021        1  121102           182342
9997  haryana  2021        1  124001           173733
9998  haryana  2021        1  123401           172665
9999  haryana  2021        1  122004           162301

[10000 rows x 5 columns]

In [ ]:
Top_User.to_csv("Top_User.csv",index = False)

In [ ]:
# Top_map

path_top_tran = "/content/pulse/data/top/transaction/country/india/state/"
top_tran_list = os.listdir(path_top_tran)

clm_top_tran = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [], 'Transaction_Count': [], 'Transaction_Amount': []}

for i in top_tran_list:
    p_i = path_top_tran + i + "/"
    for j in os.listdir(p_i):
        p_j = p_i + j + "/"
        for k in os.listdir(p_j):
            with open(p_j + k, 'r') as Data:
                D = json.load(Data)
                for z in D['data']['pincodes']:
                    clm_top_tran['Pincode'].append(z['entityName'])
                    clm_top_tran['Transaction_Count'].append(z['metric']['count'])
                    clm_top_tran['Transaction_Amount'].append(z['metric']['amount'])
                    clm_top_tran['State'].append(i)
                    clm_top_tran['Year'].append(j)
                    clm_top_tran['Quarter'].append(int(k.strip('.json')))

Top_Trans = pd.DataFrame(clm_top_tran)

In [ ]:
Top_Trans

        State  Year  Quarter Pincode  Transaction_Count  Transaction_Amount
0      odisha  2024        4  751002           17603801        1.974593e+10
1      odisha  2024        4  751006           17182248        1.835269e+10
2      odisha  2024        4  751024           15805619        1.299628e+10
3      odisha  2024        4  751019           12612174        1.297186e+10
4      odisha  2024        4  755026           11300567        8.410830e+09
...       ...   ...      ...     ...                ...                 ...
9994  haryana  2021        1  131001            2348900        5.452062e+09
9995  haryana  2021        1  122051            2288699        2.478451e+09
9996  haryana  2021        1  121002            2134162        3.877830e+09
9997  haryana  2021        1  122004            2040904        2.329110e+09
9998  haryana  2021        1  121001            2038073        3.551904e+09

[9999 rows x 6 columns]

In [ ]:
Top_Trans.to_csv("Top_Trans.csv",index = False)

In [ ]:
# Top Insurance

path_top_ins = "/content/pulse/data/top/insurance/country/india/state/"
top_ins_list = os.listdir(path_top_ins)

clm_top_ins = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [], 'Insurance_Count': [], 'Insurance_Amount': []}

for i in top_ins_list:
    p_i = path_top_ins + i + "/"
    for j in os.listdir(p_i):
        p_j = p_i + j + "/"
        for k in os.listdir(p_j):
            with open(p_j + k, 'r') as Data:
                D = json.load(Data)
                for z in D['data']['pincodes']:
                    clm_top_ins['Pincode'].append(z['entityName'])
                    clm_top_ins['Insurance_Count'].append(z['metric']['count'])
                    clm_top_ins['Insurance_Amount'].append(z['metric']['amount'])
                    clm_top_ins['State'].append(i)
                    clm_top_ins['Year'].append(j)
                    clm_top_ins['Quarter'].append(int(k.strip('.json')))

Top_Ins = pd.DataFrame(clm_top_ins)

In [ ]:
Top_Ins

        State  Year  Quarter Pincode  Insurance_Count  Insurance_Amount
0      odisha  2024        4  751002              567          876310.0
1      odisha  2024        4  751006              515          729337.0
2      odisha  2024        4  751024              467          849596.0
3      odisha  2024        4  751019              431          829256.0
4      odisha  2024        4  768201              360          463244.0
...       ...   ...      ...     ...              ...               ...
6663  haryana  2021        1  122006              309          176327.0
6664  haryana  2021        1  122051              273          137444.0
6665  haryana  2021        1  122002              252          156010.0
6666  haryana  2021        1  121102              250          136976.0
6667  haryana  2021        1  122004              203          115760.0

[6668 rows x 6 columns]

In [ ]:
Top_Ins.to_csv("Top_Ins.csv",index = False)

In [ ]:
len(Agg_Trans['State'].unique())

36

In [ ]:
import pandas as pd
import plotly.express as px

df = pd.read_csv("https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/active_cases_2020-07-17_0800.csv")

fig = px.choropleth(
    df,
    geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
    featureidkey='properties.ST_NM',
    locations='state',
    color='active cases',
    color_continuous_scale='Reds'
)

fig.update_geos(fitbounds="locations", visible=False)

fig.show()

In [ ]:
df

                                       state  active cases
0                          Andaman & Nicobar            47
1                             Andhra Pradesh         18159
2                          Arunachal Pradesh           387
3                                      Assam          6818
4                                      Bihar          7549
5                                 Chandigarh           164
6                               Chhattisgarh          1260
7   Dadra and Nagar Haveli and Daman and Diu           179
8                                      Delhi         17407
9                                        Goa          1272
10                                   Gujarat         11289
11                                   Haryana          5495
12                          Himachal Pradesh           382
13                           Jammu & Kashmir          5488
14                                 Jharkhand          2069
15                                 Karnataka         30661
16                                    Kerala          5376
17                                    Ladakh           176
18                            Madhya Pradesh          5562
19                               Maharashtra        114947
20                                   Manipur           635
21                                 Meghalaya           309
22                                   Mizoram           112
23                                  Nagaland           525
24                                    Odisha          4436
25                                Puducherry           774
26                                    Punjab          2587
27                                 Rajasthan          6666
28                                    Sikkim           155
29                                Tamil Nadu         46717
30                                 Telangana         13327
31                                   Tripura           676
32                               Uttarakhand           937
33                             Uttar Pradesh         15720
34                               West Bengal         13679